---
import { Image } from 'astro:assets'

import { storyblokEditable, useStoryblokApi } from '@storyblok/astro'
import { formatDistance } from 'date-fns'

import { blogPostList } from '@/schemas/storyblok'
import type { BlogPost } from '@/types/storyblok'

const { env } = Astro.locals.runtime;

const storyblokApi = useStoryblokApi()

const data = await storyblokApi
  .get('cdn/stories', {
    version: env.VITE_ENVIRONMENT ? 'draft' : 'published',
    content_type: 'blogPost',
  })
  .then(({ data }) => blogPostList.parse(data))

const getFeaturedImg = (fImg: BlogPost['content']['featured_image']) => {
  const src = fImg?.filename && `${fImg.filename}${fImg.is_external_url ? '' : '/m/0x200'}`
  const alt = fImg?.alt ?? ''
  return { src, alt }
}

const posts = data.stories.map((post) => ({
  title: post.content.title,
  description: post.content.description,
  slug: post.full_slug,
  featuredImg: getFeaturedImg(post.content.featured_image),
  publishedAt: post.published_at,
}))

const { blok } = Astro.props
---

<ul {...storyblokEditable(blok)} class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    posts.map(({ title, description, publishedAt, slug, featuredImg }) => (
      <a
        href={`/${slug}`}
        class="flex flex-col items-center md:flex-row md:max-w-lg bg-white border border-gray-200 rounded-lg shadow  hover:bg-gray-100 dark:border-gray-700 dark:bg-slate-900 dark:hover:shadow-sm dark:hover:shadow-white dark:hover:bg-button-hover transition-shadow duration-300 ease-in"
      >
        {featuredImg.src && (
          <Image
            class="object-cover rounded-t-lg w-full h-54 md:h-full md:w-48 md:min-h-48 md:rounded-none md:rounded-s-lg"
            src={featuredImg.src}
            width="200"
            height="200"
            alt={featuredImg.alt}
          />
        )}
        <div class="flex flex-col w-full justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">{description}</p>
          {publishedAt && (
            <span class="text-xs text-right text-gray-500 dark-text-gray-300">
              {formatDistance(publishedAt, new Date(), { addSuffix: true })}
            </span>
          )}
        </div>
      </a>
    ))
  }
</ul>
