---
import { Image } from 'astro:assets'

import Button from '@/components/Button.astro'
import SocialMedia from '@/components/SocialMedia.astro'
import { greeting } from '@/data/portfolio'

import GreetImg from '@/assets/images/manOnTable.svg'
---

<div class="flex flex-col gap-y-4 md:flex-row md:gap-y-0 md:gap-x-4" id="greeting">
  <div class="flex flex-col gap-3 md:gap-4">
    <h1 class="flex text-3xl md:text-5xl gap-2">
      <span>{greeting.title}</span>
      <div class="i-emojione-waving-hand-medium-skin-tone wave-emoji"></div>
    </h1>
    <p class="text-xl md:text-3xl text-subtitle">{greeting.subTitle}</p>
    <SocialMedia />
    <div class="flex gap-x-6 w-full justify-center md:justify-start">
      <Button text="Contact me" href="#contact" />
      <Button text="See my resume" new-tab={true} href={greeting.resumeLink} />
    </div>
  </div>
  <div class="flex justify-center md:w-1/2">
    <Image src={GreetImg} alt="man sitting on table" class="w-4/5 md:w-full" />
  </div>
</div>

<style>
  .wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
