---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import TopButton from '../components/TopButton.astro'

interface Props {
  title: string
  openGraph?: {
    title?: string
    image?: string
    type?: string // 'website' | 'article'
    description?: string
  }
}
const { title, openGraph } = Astro.props

const twCreator = '@emiliogozo'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v8=qAJ44G5Bm7" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v8=qAJ44G5Bm7" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v8=qAJ44G5Bm7" color="#885bd5" />
    <link rel="shortcut icon" href="/favicon.ico?v8=qAJ44G5Bm7" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="theme-color" content="#6c63ff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v8=qAJ44G5Bm7" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="author" content="Emilio Gozo" />
    <meta name="keywords" content="programming, data science, weather, climate, technology" />
    <link rel="canonical" href={canonicalURL} />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={openGraph?.title || title} />
    {openGraph?.description && <meta property="og:description" content={openGraph.description} />}
    <meta property="og:url" content={canonicalURL} />
    {openGraph?.image && <meta property="og:image" content={openGraph.image} />}
    <meta property="og:type" content={openGraph?.type || 'website'} />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={openGraph?.title || title} />
    {openGraph?.description && <meta name="twitter:description" content={openGraph.description} />}
    {openGraph?.image && <meta name="twitter:image" content={openGraph.image} />}
    <meta name="twitter:site" content={twCreator} />
  </head>
  <body
    class="font-montserrat antialiased flex flex-col w-9/10 mx-auto my-8 md:my-12 gap-4 md:gap-8 bg-white text-black dark:bg-slate-900 dark:text-white"
  >
    <Header />
    <slot />
    <Footer />
    <TopButton />
  </body>
</html>
